<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project.mapper.mybatis.EMP2ASSYProductionDataMapper">
    <resultMap id="BaseResultMap" type="com.project.domain.entity.EMP2ASSYProductionData">
        <id column="ItemNO" jdbcType="INTEGER" property="itemno" />
        <result column="SO_Number" jdbcType="CHAR" property="soNumber" />
        <result column="PartNO" jdbcType="NCHAR" property="partno" />
        <result column="LabelNO" jdbcType="NCHAR" property="labelno" />
        <result column="PartStatus" jdbcType="INTEGER" property="partstatus" />
        <result column="E1_Press_Force" jdbcType="REAL" property="e1PressForce" />
        <result column="E1_End_Position" jdbcType="REAL" property="e1EndPosition" />
        <result column="E1_Final_Force" jdbcType="REAL" property="e1FinalForce" />
        <result column="E2_Press_Force" jdbcType="REAL" property="e2PressForce" />
        <result column="E2_End_Position" jdbcType="REAL" property="e2EndPosition" />
        <result column="E2_Final_Force" jdbcType="REAL" property="e2FinalForce" />
        <result column="Stud1_Press_Force" jdbcType="REAL" property="stud1PressForce" />
        <result column="Stud1_End_Position" jdbcType="REAL" property="stud1EndPosition" />
        <result column="Stud1_Final_Force" jdbcType="REAL" property="stud1FinalForce" />
        <result column="Stud2_Press_Force" jdbcType="REAL" property="stud2PressForce" />
        <result column="Stud2_End_Position" jdbcType="REAL" property="stud2EndPosition" />
        <result column="Stud2_Final_Force" jdbcType="REAL" property="stud2FinalForce" />
        <result column="Stud3_Press_Force" jdbcType="REAL" property="stud3PressForce" />
        <result column="Stud3_End_Position" jdbcType="REAL" property="stud3EndPosition" />
        <result column="Stud3_Final_Force" jdbcType="REAL" property="stud3FinalForce" />
        <result column="Part_Completed_Time" jdbcType="TIMESTAMP" property="partCompletedTime" />
        <result column="E1_E2_Completed_Time" jdbcType="TIMESTAMP" property="e1e2CompletedTime" />
        <result column="Last_Cycle_Spent_Time" jdbcType="INTEGER" property="lastCycleSpentTime" />
    </resultMap>